<nav class="navbar navbar-expand-lg bg-light" style="border-color:rgb(217, 235, 152); 
border-style:groove;">
  <div class="container-fluid">
    <a style="color: orangered" class="navbar-brand">Employee Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li style="color:rgb(255, 255, 255);" class="nav-item">
          <a style="color: green;" class="nav-link active" routerLink="home" aria-current="page" href="#" *ngIf="LoggeduserRole != undefined ">Home</a>
        </li> -->
        <!-- <li class="nav-item">
            <a style="color: green;" class="nav-link" routerLink="loginform" href="#">Login in</a>
          </li> -->
          <!-- <li class="nav-item">
            <a style="color: green;" class="nav-link" routerLink="signupform" href="#" *ngIf="LoggeduserRole != undefined ">Sign up</a>
          </li> -->
          <li class="nav-item">
            <a style="color: green;" class="nav-link" routerLink="reguser" href="#" *ngIf="LoggeduserRole != undefined && LoggeduserRole == 'manager'">Registered Users</a>
          </li>
          <li class="nav-item">
            <a style="color: green;" class="nav-link" routerLink="empdetails" href="#" *ngIf="LoggeduserRole != undefined && LoggeduserRole == 'manager'">Employee Details</a>
          </li>
          <li class="nav-item">
            <a style="color: green;" class="nav-link" routerLink="jobdetails" href="#" *ngIf="LoggeduserRole != undefined && LoggeduserRole == 'manager'">Create Job</a>
          </li>
          <li class="nav-item">
            <a style="color: green;" class="nav-link" routerLink="viewjobs" href="#" *ngIf="LoggeduserRole != undefined && LoggeduserRole == 'manager'">View Job</a>
          </li>
          <li class="nav-item">
            <a style="color: green;" class="nav-link" routerLink="profile" href="#" *ngIf="LoggeduserRole != undefined && LoggeduserRole == 'user'">My Profile</a>
          </li>
          <li class="nav-item">
            <a style="color: green;" class="nav-link" routerLink="jobuserview" href="#" *ngIf="LoggeduserRole != undefined && LoggeduserRole == 'user'">My Job</a>
          </li>
      </ul>
      <div class="" *ngIf="Loggedusername != undefined && LoggeduserRole != undefined">
        <p class="fw-bold">{{Loggedusername}} | {{LoggeduserRole}}</p> &nbsp; &nbsp; &nbsp;
        <a class="logout_btn" (click)="logout()"> Logout</a> 
      </div>
    </div>
  </div>
</nav>




<!--*ngIf="LoggeduserRole != undefined && (LoggeduserRole == 'manager' || LoggeduserRole == 'user')"
  (RegisteredUsers)*ngIf="LoggeduserRole != undefined && LoggeduserRole == 'manager'"
(EmployeeDetails)*ngIf="LoggeduserRole != undefined "-->