<div class="container">
    <h3> Create Job </h3> <br>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">

        <div class="form-group">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Job Name</span>
                <input required #jobname="ngModel" minlength="3" maxlength="20" [(ngModel)]="job.jobname"  name="jobname"
                    type="text" ngModel class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" placeholder="Enter a job name">
                    <span Style="margin-left:20px;" *ngIf="jobname.invalid && jobname.touched" id="inputGroup-sizing-sm" class="error">*jobname is not valid</span>
                    </div>
        </div>
        <br>

        <div class="form-group">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Starting Time</span>
                <input required #startingtime="ngModel" minlength="3" maxlength="20"  [(ngModel)]="job.startingtime" name="startingtime"
                    type="time" ngModel class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" placeholder="Enter a start time">
                    <span Style="margin-left:20px;" *ngIf="startingtime.invalid && startingtime.touched" id="inputGroup-sizing-sm" class="error">*start time is not valid</span>
                    </div>
        </div>
        <br>

        <div class="form-group">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">End Time</span>
                <input required #endtime="ngModel" minlength="3" maxlength="20" [(ngModel)]="job.endtime" name="endtime"
                    type="time"  ngModel class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" placeholder="Enter a end time">
                    <span Style="margin-left:20px;" *ngIf="endtime.invalid && endtime.touched" id="inputGroup-sizing-sm" class="error">*end time is not valid</span>
                    </div>
        </div>
        <br>
      
        <div class="form-group">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Profit value</span>
                <input required #profitvalue="ngModel" minlength="3" maxlength="20" [(ngModel)]="job.profitvalue" name="profitvalue"
                    type="number" ngModel class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" placeholder="Enter a profit value">
                    <span Style="margin-left:20px;" *ngIf="profitvalue.invalid && profitvalue.touched" id="inputGroup-sizing-sm" class="error">*profit value is not valid</span>
                    </div>
        </div>
        <br>

        <div class="form-group">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Applicablerole</span>
                <input required #applicablerole="ngModel" minlength="3" maxlength="20" [(ngModel)]="job.applicablerole" name="applicablerole"
                    type="text" ngModel class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" placeholder="Enter a applicablerole">
                    <span Style="margin-left:20px;" *ngIf="applicablerole.invalid && applicablerole.touched" id="inputGroup-sizing-sm" class="error">*applicablerole is not valid</span>
                    </div>
        </div>
        <br>

        <div class="form-group">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Status</span>
                <input required #status="ngModel" minlength="3" maxlength="20" [(ngModel)]="job.status" name="status"
                    type="text" ngModel class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" placeholder="Enter a status">
                    <span Style="margin-left:20px;" *ngIf="status.invalid && status.touched" id="inputGroup-sizing-sm" class="error">*status is not valid</span>
                    </div>
        </div>
        <br>
        

    <div   class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button [disabled]="userForm.invalid" class="btn btn-primary" type="button" (click)="submit()">submit</button>
    </div>

    </form>
</div> 
