<h1 class="display-2" style="text-align: center; border-color:white; border-style:double; 
background-color: rgb(170, 209, 27); color:white; font-weight: 600;"> Employee Details </h1>


<ol class="list-group list-group-numbered pad grid_height">
  <li *ngFor="let e of employees, index as i" class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw"><span class="fw-bold">Emp Id:</span> {{e.userid}} </div>
      <div class="fw"><span class="fw-bold">First Name:</span> {{e.firstname}} &nbsp; <span class="fw-bold">Last
          Name:</span> {{e.lastname}} &nbsp; <span class="fw-bold">Email Id:</span> {{e.email}} &nbsp; <span class="fw-bold">Salary:</span> {{e.salary}} &nbsp; <span class="fw-bold">Allocated
            Job:</span> {{e.job}}</div>
      

    </div>
    <button type="button" class="btn btn-outline-danger" (click)="editEmp(e)" data-toggle="modal"
      data-target="#exampleModalCenter">view</button>

  </li>
</ol>

<!-- Trigger/Open The Modal -->
<!-- <button id="myBtn">Open Modal</button> -->

<!-- The Modal -->
<div id="myModal" class="modal" *ngIf="ShowEdit">

  <!-- Modal content -->
  <div class="modal-content">
   <h4>Employee Detail</h4> <span class="close" (click)="popClose()">&times;</span> <br>
    
   <div class="container">

    
    <form #updateForm="ngForm">
      <div class="form-group">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Emp ID</span>
            <input required #userid="ngModel" minlength="3"  maxlength="20"  name="userid" [(ngModel)]="emp.userid" value="emp.userid"
                type="text" ngModel class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" ngModel disabled>
            </div>
</div>
<br>

        <div class="form-group">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">First Name</span>
                <input required #firstname="ngModel" minlength="3"  maxlength="20"  name="firstname" [(ngModel)]="emp.firstname" value="emp.firstname"
                    type="text" ngModel class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" ngModel disabled>
                </div>
    </div>
    <br>

    <div class="form-group">
      <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Last Name</span>
          <input required #lastname="ngModel" minlength="3" maxlength="20" [(ngModel)]="emp.lastname" name="lastname" value="emp.lastname"
              type="text" ngModel class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm" ngModel disabled>
              </div>
  </div>
  <br>
        
    <div class="form-group">
      <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Email Id</span>
          <input required #email="ngModel" minlength="3" maxlength="20" [(ngModel)]="emp.email" name="email"
              type="text" email ngModel class="form-control" aria-label="Sizing example input" value="emp.email"
              aria-describedby="inputGroup-sizing-sm" ngModel disabled>
              </div>
  </div>
  <br>
                  
        <div  class="d-grid gap-2 d-md-flex justify-content-md-end">
           <button class="btn btn-primary" (click)="popClose()" type="">Cancel</button>&nbsp;

           
       </div>

   </form>
</div>

  </div>

</div>







<!-- Trigger/Open The Modal -->
<!-- <button id="myBtn">Open Modal</button> -->

<!-- The Modal 
<div id="myModal" class="modal" *ngIf="ShowEdit">-->

<!-- Modal content -->
<!-- <div class="modal-content">
   <h4>Edit User Detail</h4> <span class="close" (click)="popClose()">&times;</span>
    
   <div class="container">

    <h3> Employee Details </h3> <br>
    <form #updateForm="ngForm">
        <div class="form-group">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">First Name</span>
                <input required #firstname="ngModel" minlength="3" [(ngModel)]="firstname" maxlength="20"  name="firstname" value="firstname"
                    type="text" ngModel class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" placeholder="Enter a first name">
                    <span Style="margin-left:20px;" *ngIf="firstname.invalid && firstname.touched" id="inputGroup-sizing-sm" class="error">*firstname is not valid</span>
                    </div>
        </div>
        <br>


      <div class="form-group">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Last Name</span>
            <input required #lastname="ngModel" minlength="3" maxlength="20" [(ngModel)]="lastname" name="lastname" value="lastname"
                type="text" ngModel class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" placeholder="Enter a last name">
                <span Style="margin-left:20px;" *ngIf="lastname.invalid && lastname.touched" id="inputGroup-sizing-sm" class="error">*lastname is not valid</span>
                </div>
    </div>
    <br>

    <div class="form-group">
      <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Email Id</span>
          <input required #email="ngModel" minlength="3" maxlength="20" [(ngModel)]="email" name="email"
              type="text" email ngModel class="form-control" aria-label="Sizing example input" value="email"
              aria-describedby="inputGroup-sizing-sm" placeholder="Enter a email id">
              <span Style="margin-left:20px;" *ngIf="email.invalid && email.touched" id="inputGroup-sizing-sm" class="error">*email id is not valid</span>
              </div>
  </div>
  <br>


        <div  class="d-grid gap-2 d-md-flex justify-content-md-end">
           <button class="btn btn-primary"  type="">Cancel</button>&nbsp;

           <button class="btn btn-primary"  type="submit">Update</button>
       </div>

   </form>
</div>

  </div>

</div> -->