<nav class="navbar navbar-expand-lg bg-light" style="border-color:rgb(217, 235, 152); 
border-style:groove;">
  <div class="container-fluid">
    <a style="color: orangered" class="navbar-brand">Digital Books</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li style="color:rgb(255, 255, 255);" class="nav-item">
          <a style="color: green;" class="nav-link active" routerLink="/home" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a style="color: green;" class="nav-link" routerLink="/book" href="#">CreateBook</a>
          </li>
          <li class="nav-item">
            <a style="color: green;" class="nav-link" routerLink="/viewbook" href="#">ViewBook</a>
          </li>
          <li class="nav-item">
            <a style="color: green;" class="nav-link" routerLink="/search" href="#">SearchBook</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
